.wrapper {
  display: flex;
  justify-content: space-between;
}

.location-wrapper {
  display: flex;
  gap: 1.5rem;
}

.change-city,
.location {
  opacity: 0.6;
}

.location-block {
  position: relative;
  display: flex;
}

.location-block span {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.location {
  padding-left: 2rem;
}

.temperature {
  position: relative;
  display: flex;
  max-height: 2.5rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0.5rem;
}

.temperature span {
  position: absolute;
  top: 0;
  left: -1.5rem;
  opacity: 0.4;
}

.celsius,
.fahrenheit {
  opacity: 0.4;
  padding: 0.25rem 1rem;
}

.celsius {
  border-radius: 0.5rem 0 0 0.5rem;
}

.fahrenheit {
  border-radius: 0 0.5rem 0.5rem 0;
}

.celsius:hover,
.fahrenheit:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.active {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

.search-block {
  position: relative;
}

.search {
  width: 580px;
  height: 100px;
  padding: 2rem;
  padding-right: 6rem;
  border-radius: 12px;
  font-size: 2rem;
  background-color: #fff;
}

.searchBtn {
  position: absolute;
  top: 2.25rem;
  right: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  color: #1086ff;
}
